nav {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(37, 25, 44);
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    gap: 1rem;
}

nav > li {
    color: white;
    list-style: none;
}

img {
    width: 150px;
    margin-right: 0;
}